<div class="wrapper wrapper__bg">
 <div class="container">
  <%= link_to "back to thread list", boards_path %>
  <hr>
  <div class="board">
   <h1 class="board--name"><%= @board.title %></h1>
  </div>
  <%= link_to "Edit title", edit_board_path %>
  <%= link_to "Delete", board_path(@board), method: :delete, data: { confirm: "Delete this thread?" } %>
  <hr>
  <div class="comment">
   <% @board.comments.each do |comment| %>
    <%= comment.name %>
    <%= comment.content %>
    <%= link_to "Delete", board_comment_path(@board, comment), method: :delete, data: { confirm: "Delete this comment?" } %> <br>
   <% end %>
  </div>
  <hr>
  <%= form_for @comment, url: board_comments_path(@board, @comment) do |f| %>
   Name:    <%= f.text_field :name    %> <br>
   Comment: <%= f.text_area  :content %> <br>
   <%= f.submit %>
  <% end %>
 </div>
<div>
